/* basic */
@import "./basic/reset.css";
@import "./basic/layout.css";

/* 3rd party */

/* components */

/* CUSTOM STYLE BELOW THIS COMMENT */

/*HERO SECTION*/

.container.hero {
  background-color: rgb(199, 218, 204);
  min-height: 100vh;
}

.hero > .main-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1000px;
  text-align: center;
}

.main-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: rgb(52, 102, 67);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-description {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description {
  font-size: 18px;
  line-height: 20px;
  background-color: rgb(117, 162, 130);
  padding: 10px 15px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  color: rgb(32, 43, 35);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.items {
  display: flex;
  gap: 15px;
  padding: 15px;
  justify-content: center;
}

.items > img.visible {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.5s;
}

.items > img.invisible {
  width: 0px;
  height: 0px;
}

.items > img:hover {
  width: 90px;
  height: 90px;
}

.cart {
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 352px;
  width: 200px;
  margin-top: 20px;
}

.cart-content {
  width: 120px;
  height: 75px;
  margin-top: 25px;
  margin-left: 54px;
}

.cart-content > img.invisible {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 2px;
}

.cart-content > img.visible {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}
